<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/stylesheets/index.css" />
        <title><%= name %></title>
    </head>
    <body>
        <a href="/" class="button">Accueil</a>
        <table id="sheetTable">
            <thead>
                <tr>
                    <th></th>
                    <% for(var i = 65; i < 65+26; i++) {%>
                        <th>&#<%= i %></th>
                    <% }%>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 1; i < 11; i++) {%>
                    <tr>
                        <th><%= i %></th>
                        <% for(var j = 1; j < 27; j++) {%>
                            <td>
                                <input type="text" class="cell" id="cell<%= i %>_<%= j %>" size="10" value="<%= data[[i,j]] %>"/>
                            </td>
                        <% }%>
                    </tr>
                <% }%>
            </tbody>
        </table>
    </body>

    <script type="text/javascript">

        for (let i = 1; i < 11; i++) {
            for(let j = 1; j < 27; j++){
                let cellIJ = document.getElementById("cell"+i+"_"+j);
                cellIJ.addEventListener("keyup", (e) => {
                    sendCell(i, j, cellIJ.value);
                });
            }
        }


        async function sendCell(i, j, value) {

        try {
                let obj = {
                    id: "<%= id %>",
                    si: i,
                    sj: j,
                    cellValue: value
                }

                const response = await fetch("/sheet/<%= id %>", {
                    method: "PUT",
                    headers: { Accept: "application/json", "Content-Type": "application/json" },
                    body: JSON.stringify(obj),
                });
        
                if(response.ok){   
                } else {
                    throw response.status;
                }
                        
            } catch (error) {
                console.error("Error:", error);
            }
        }
    </script>

</html>