<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1eeeff3f3f.js" crossorigin="anonymous"></script>
    <title>Easy Collab</title>

    <script>
        async function deleteSheet(id) {
            try {
                const response = await fetch("/sheet/" + id, {
                    method: "DELETE"
                });

                if (response.ok) {
                    let div = document.getElementById("ownedSheet" + id);
                    div.remove();
                } else {
                    throw response.status;
                }

            } catch (error) {
                console.error("Error:", error);
            }
        }

        async function renameSheet(id) {

            let name = document.getElementById("sheet" + id + "Name");

            let rename = prompt("Nouveau nom :", name.innerText);

            if (rename != null) {
                try {
                    const response = await fetch("/sheet/rename/" + id, {
                        method: "PUT",
                        headers: {Accept: "application/json", "Content-Type": "application/json"},
                        body: JSON.stringify({
                            name: rename
                        })
                    });

                    if (response.ok) {
                        name.textContent = rename;
                    } else {
                        throw response.status;
                    }

                } catch (error) {
                    console.error("Error:", error);
                }
            }
        }

        async function deleteUser(id, name, isAddition) {
            try {
                let obj = {
                    username: name,
                    isAddition: isAddition
                }

                const response = await fetch("/sheet/users/" + id, {
                    method: "PUT",
                    headers: {Accept: "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify(obj)
                });

                if (response.ok) {
                    let div = document.getElementById("participant" + name + "sheet" + id);
                    div.remove();
                }

            } catch (error) {
                console.error("Error:", error);
            }
        }

        async function addUser(id, isAddition) {
            try {
                let username = document.getElementById("inputParticipant" + id).value;

                let obj = {
                    username: username,
                    isAddition: isAddition
                }

                const response = await fetch("/sheet/users/" + id, {
                    method: "PUT",
                    headers: {Accept: "application/json", "Content-Type": "application/json"},
                    body: JSON.stringify(obj)
                });

                let error = document.getElementById("sheet" + id + "Error");

                if (response.ok) {

                    var divToAdd = document.createElement('div');
                    let contentDiv = '<div id="participant' + username + 'sheet' + id + '">'
                        + '' + username + ''
                        + '<button id="retirerParticipant' + id + '" onclick="deleteUser(' + id + ', \'' + username + '\', false);">-</button>'
                        + '</div>';
                    divToAdd.innerHTML = contentDiv;

                    let div = document.getElementById("participantsSheet" + id);

                    div.appendChild(divToAdd);

                    error.textContent = "";

                } else {

                    switch (response.status) {
                        case 404:
                            error.textContent = "Utilisateur introuvable";
                            break;
                        case 409:
                            error.textContent = "Utilisateur déjà ajouté";
                            break;
                        case 406:
                            error.textContent = "Vous ne pouvez vous ajouter vous même";
                            break;
                        default:
                            error.textContent = "";
                            break;
                    }
                }

            } catch (error) {
                console.error("Error:", error);
            }
        }
    </script>

</head>
<body class="bg-light">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a href="/" class="navbar-brand"> <img src="../logo.png" alt="Logo" width="200" height="70"></a>
    </div>
    <div class="ml-auto">
        <% if (locals.user) { %>
            <a href="/account/signoff" class="btn btn-danger">Se déconnecter</a>
        <% }
        else { %>
            <div class="d-flex flex-row">
                <div class="p-2">
                    <a href="/account/signin" class="btn btn-primary ">Se connecter</a>
                </div>
                <div class="p-2">
                    <a href="/account/signup" class="btn btn-success ">Créer un compte</a>
                </div>
            </div>
        <% } %>
    </div>
</nav>
<div class="container">
    <div class="d-flex justify-content-between align-items-start mt-4 mb-4">
        <h1>Easy Collab</h1>
    </div>

    <% if (locals.user) { %>
        <h1><%= locals.user.username %></h1>
        <div>
            <a href="/sheet/new" class="btn btn-success mb-2">Créer un document</a>
        </div>

        <h2>Mes Documents</h2>
        <div id="ownedSheets" class="mb-4">
            <% if(users[locals.user.username] && users[locals.user.username].ownedSheets && users[locals.user.username].ownedSheets.length > 0) { %>
                <% for(sheetId of users[locals.user.username].ownedSheets) { %>
                    <div id="ownedSheet<%= sheetId %>" class="border border-1 mb-4 rounded ">
                        <h2 class="d-flex justify-content-center"><a href="/sheet/<%= sheetId %>"
                                                                     id="sheet<%= sheetId %>Name"
                                                                     class="fs-1 font-size-lg"><%= sheets[sheetId].name %></a>
                        </h2>
                        <h5>Participants :</h5>
                        <div class="autocomplete d-flex align-items-top">
                            <input placeholder="Rechercher une personne" type="search"
                                   id="inputParticipant<%= sheetId %>" class="form-control mr-2 flex-grow-1">
                            <button id="ajouterParticipant<%= sheetId %>" onclick="addUser(<%= sheetId %>, true);"
                                    type="button" class="btn btn-primary" data-mdb-ripple-init>
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <p id="sheet<%= sheetId %>Error" class="text-danger"></p>


                        <div id="participantsSheet<%= sheetId %>">
                            <% if(sheets[sheetId].users.length > 0) { %>
                                <% for(username of sheets[sheetId].users) { %>
                                    <div id="participant<%= username %>sheet<%= sheetId %>" class="mb-2">
                                        <%= username %>
                                        <button id="retirerParticipant<%= sheetId %>"
                                                onclick="deleteUser(<%= sheetId %>, '<%= username %>', false);"
                                                class="btn btn-warning">-
                                        </button>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                        <div class="d-flex justify-content-md-end">
                            <button onclick="renameSheet(<%= sheetId %>);" class="btn btn-secondary mr-2">Renommer</button>
                            <button onclick="deleteSheet(<%= sheetId %>);" class="btn btn-danger ">Supprimer</button>
                        </div>
                    </div>
                <% } %>
            <% } %>
        </div>

        <h2>Documents Partagés</h2>
        <div id="sharedSheets">
            <% if(users[locals.user.username] && users[locals.user.username].sharedSheets && users[locals.user.username].sharedSheets.length > 0) { %>
                <% for(sheetId of users[locals.user.username].sharedSheets) { %>
                    <div id="sharedSheet<%= sheetId %>" class="mb-2">
                        <a href="/sheet/<%= sheetId %>" class="btn btn-primary"><%= sheets[sheetId].name %></a>
                        <p>Détenteur : <%= sheets[sheetId].owner %></p>
                        <p>Participants :</p>
                        <% for(user of sheets[sheetId].users) { %>
                            <p><%= user %></p>
                        <% } %>
                    </div>
                <% } %>
            <% } %>
        </div>

    <% } %>
</div>
</body>
</html>